<div class="main">
    <div class='info'>
        <div class="certificate-holder">
            <label>Certificate Holder</label>
            <span class="certficate-holder-name">Cicso Systems, Inc.</span>
        </div>
        <div>
            <ul>
                <li>
                    <label>Application Id</label>
                    <span class='application-id'>0000-0000-1023</span>
                </li>
                <li>
                    <label>No. Of Equipment</label>
                    <span>4</span>
                </li>
                <li>
                    <label>Application stage</label>
                    <span class="pill grey">Submission</span>
                </li>
                <li>
                    <label>Application Id</label>
                    <span class="pill gold">Ongoing</span>
                </li>
            </ul>
        </div>
        <div class="date-created">
            <img src="assets/icons/time-icon.svg" alt="" srcset=""> Created on April 7th 2020 by Wonder Marley
        </div>
    </div>
    <div class="buttons">
        <div class="notification">
            <img src="assets/icons/notification-icon.svg" alt="">
            <div class="notification-count">0</div>
        </div>

        <app-blue-button [btnType]='["ghostBtn"]'>
            View Documentation
        </app-blue-button>

        <select name="application-action" id="">
          <option>Action</option>
          <option>option 1</option>
          <option>option 2</option>
          <option>option 3</option>
        </select>
    </div>
</div>