<div class='panel ui container grid two stackable column'>
    <div class=''>
        <div class="ui mini icon input">
            <input type="text" placeholder="Search mini...">
            <i class="search icon"></i>
        </div>
        <div>
            Display
            <select class="ui mini search dropdown" #select>
              <option value="">State</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
            </select> Rows
        </div>
    </div>
    <div class='stackable container'>
        <app-blue-button [btnType]='["ui", "primary", "basic", "button"]' class="five column wide">
            Advanced Search
        </app-blue-button>
        <app-blue-button [btnType]='["ui", "primary", "button"]' class="six column wide" routerLink='/home/type-approval-application/get-started'>
            Apply for Type Approval
        </app-blue-button>
    </div>
</div>

<div class='ui segment'>
    <app-single-application></app-single-application>
</div>
