<div class="main">
    <div class="container drop-zone ui grid stackable" style='align-items: center;
    justify-content: center;' appFileDragAndDropZone (click)="fileRef.click()" (captureFile)="addFile($event)">
        <img src="assets/icons/cloud-icon.svg" alt="">
        <input type="file" style="" hidden #fileRef multiple id="equipment-document" (change)="addFile($event.target.files)" name="equipment-document" id="" />
        <div>Attach files by dropping them here or <label style="cursor: pointer;" for="equipment-document" style="color: #18A0FB;">selecting </label></div>

    </div>
    <div class="container grid stackable top ui"></div>
    <div class="bottom">

        <div class="form grid ui container stackable" style="justify-content: space-between; margin-top: 7px;">
            <div class=" column nine wide">
                <div class="equipment-tip">
                    <img src="assets/icons/wb-incandescent.svg" alt="" /> Select a document below and select all the equipment it applies to in the panel on the right
                </div>
                <div class="node-container" style='height: 100%;'>
                    <div style='height: 60%; overflow-y: scroll; border-bottom: 2px solid #d4d2d2;' *ngIf='listOfDocuments.length > 0'>
                        <div *ngFor="let document of listOfDocuments" [ngClass]='{active: highlightedDocument === document}' (click)="selectDocument(document); highlightedDocument = document" class="container document-container" style="margin-top: 20px; align-items: center; justify-content: space-between; display: flex;">
                            <div class='document-name'>
                                <img src="assets/icons/{{document.name.split('.')[1]}}-icon.svg" alt=""> {{ document.name.split('.')[0] }}
                            </div>
                            <i class="ellipsis vertical icon" (click)='showNodeOptionsModal()'></i>
                        </div>
                    </div>

                    <div class="equipmentDocumentList" *ngIf='equipmentDocuments && listOfDocuments.length !== 0' style='overflow-y: scroll; height: 40%;'>
                        <div class='heading'>Documents that apply to
                            <span class="equipmentName">{{this.nameOfSelectedEquipment}}</span>
                        </div>
                        <div *ngFor='let document of equipmentDocuments' class='document'>{{document.name}}</div>
                    </div>

                    <div *ngIf='listOfDocuments.length === 0' class='no-file'>
                        <div>You have not uploaded any file</div>
                        <img src="assets/icons/grey-cloud-icon.svg" alt="">
                    </div>
                </div>
            </div>

            <div class='column seven wide'>
                <div>List of equipment for Type Approval Application</div>
                <div class="form-container">
                    <form>
                        <ng-template #tmplNode let-node="node">
                            <div class="node-item" [attr.data-id]="node.id" [attr.id]="'node-' + node.id">
                                <div class="node-title single-equipment-box" (click)='displayEquipmentDocuments(node); !this.selectedDocument || listOfDocuments.length !== 0 ? highlightedEquipment = node : null' [ngClass]='{active: highlightedEquipment === node && listOfDocuments.length !== 0}'>
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="{{node.details.equipmentRegulatoryName}}" id="{{node.details.equipmentRegulatoryName}}" (change)="handleDocument(node.key)" (click)='$event.stopPropagation()' ngModel [checked]="node.listOfDocuments.includes(selectedDocument)"
                                            [disabled]='!this.selectedDocument || listOfDocuments.length === 0' />
                                        <label for="{{node.details.equipmentRegulatoryName}}" (click)='$event.stopPropagation()'>

                    &nbsp;&nbsp;&nbsp; {{ node.details.equipmentRegulatoryName }} </label>
                                    </div>
                                </div>

                                <div class="node-children" [id]="node.id">
                                    <div *ngFor="let child of node.children">
                                        <ng-container *ngTemplateOutlet="tmplNode; context: { node: child }"></ng-container>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <div [id]="'main'" style="margin-top: 0;">
                            <div *ngFor="let node of this.equipmentListService.nodes" style='padding-top: 10px;'>
                                <ng-container *ngTemplateOutlet="tmplNode; context: { node: node }"></ng-container>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="ui grid stackable container" style="margin-top: 96px;">
            <div class="row" style="justify-content: flex-end;">
                <app-blue-button [btnType]="['ui', 'primary', 'massive', 'button', 'basic']">Save &amp; Continue Later</app-blue-button>
                <app-blue-button [btnType]="['ui', 'primary', 'massive', 'button']" routerLink='/contractor/home/type-approval-application/add-specification-standards'>Next</app-blue-button>
            </div>
        </div>
    </div>
</div>

<sui-modal [isClosable]="true" [size]="'mini'" (dismissed)="hideNodeOptionsModal()" *ngIf="showNodeOptions" #modal>
    <div class="content">
        <div (click)="renameDocumentModal = true; hideNodeOptionsModal();" class="node-option">
            RENAME
        </div>
        <div (click)="deleteDocument()" class="node-option">DELETE</div>
    </div>
</sui-modal>

<sui-modal [isClosable]="true" [size]="'mini'" (dismissed)="renameDocumentModal = false" *ngIf="renameDocumentModal" #modal>
    <div class="header">Rename Document</div>
    <div class="content">
        <form (ngSubmit)="renameDocument(form); renameDocumentModal = false" #form="ngForm">
            <div>
                <label for="new-equipment-label">Equipment Regulatory Name</label>
                <input type="text" name="newDocumentName" ngModel />
            </div>
            <div class="button-container">
                <app-blue-button [btnType]="['basic', 'primary', 'ui', 'button']">Done</app-blue-button>
            </div>
        </form>
    </div>
</sui-modal>
