<div class="ui container main">

    <!-- <app-navigation>
        <ul>
            <li routerLink='/home/applications' routerLinkActive='active'>Applications</li>
            <li>Permits</li>
            <li>Messages</li>
            <li>Certificate Holder's Profile</li>
        </ul>
    </app-navigation> -->

    <sui-tabset>
        <div class="ui pointing secondary menu stackable grid">
            <a class="item" routerLink='/contractor/home/applications' routerLinkActive='active'>Applications</a>
            <a class="item">Permits</a>
            <a class="item">Messages</a>
            <a class="item">Certificate Holder's Profile</a>
        </div>
    </sui-tabset>

    <router-outlet></router-outlet>
</div>
