<!-- Navbar -->
<nav>
    <div class="top">
        <div class="container">
            <!-- Logo -->
            <div class="logo-container">
                <img class="logo" src="" alt="" />
            </div>

            <!-- Links -->
            <div class="nav">
                <!-- eServices App links list -->
                <div class="eServices-app">
                    <select name="" id="">
  <option>eServices Apps</option>
  <option>Link 1</option>
  <option>Link 2</option>
  <option>Link 3</option>
</select>
                </div>

                <!-- Profile -->
                <div class='profile'>
                    <!-- Profile links list -->
                    <div>
                        <select name="" id="">
    <option>Profile</option>
    <option>Link 1</option>
    <option>Link 2</option>
    <option>Link 3</option>
  </select>
                    </div>

                    <!-- Profile icon -->
                    <div class="profile-icon">
                        <img src="assets/icons/User-Profile-Image.svg" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="container">
            <div>Type Approval Management</div>
            <div class="company-name">
                <img src="assets/icons/company-icon.svg" alt="" srcset=""> Relithub Nigeria Limited</div>
        </div>
    </div>
</nav>
<div>

    <router-outlet></router-outlet>

</div>

<app-footer></app-footer>