<div class="container">
    <div class="main">
        <div class="info">
            <div class="info-header-container">
                <div class="header">
                    Select a Certificate Holder’s profile from the list of profiles you created.
                </div>
                <div class="sub-header">
                    A Certificate Holder profile allows you to enter and save the details of a Certificate Holder so that you don’t have to enter the details each time you want to make an application. If you have not created a Certificate Profile for this Application,
                    <a>click here to create a profile.</a>
                </div>
            </div>
        </div>

        <form ngForm>
            <div>
                <input required value="1" type="radio" name="select-certificate-holder" id="select-certificate-holder1" ngModel #input='ngModel' />
                <label for="select-certificate-holder1">
          <div>
            <div class="custom-radio-icon">
              <div class="custom-radio-icon-inner"></div>
            </div>
          </div>
          <div class="detail-container">
            <div>
              <div>
                <span>Certificate Holder</span>
                <h3>Cisco Systems, Inc.</h3>
              </div>
              <div>
                <span>Address</span>
                <div class="detail">
                  300 East Tasman Dr. San Jose, CA 95134, USA
                </div>
              </div>
            </div>
            <div>
              <span>Telephone</span>
              <div class="detail">(408) 526-4000</div>
            </div>
          </div>
        </label>
            </div>
            <div>
                <input required value="2" type="radio" name="select-certificate-holder" id="select-certificate-holder" ngModel #input2='ngModel' />
                <label for="select-certificate-holder">
          <div>
            <div class="custom-radio-icon">
              <div class="custom-radio-icon-inner"></div>
            </div>
          </div>
          <div class="detail-container">
            <div>
              <div>
                <span>Certificate Holder</span>
                <h3>Cisco Systems, Inc.</h3>
              </div>
              <div>
                <span>Address</span>
                <div class="detail">
                  300 East Tasman Dr. San Jose, CA 95134, USA
                </div>
              </div>
            </div>
            <div>
              <span>Telephone</span>
              <div class="detail">(408) 526-4000</div>
            </div>
          </div>
        </label>
            </div>
            <div class="button-container">
                <app-blue-button [btnType]='["ghostBtn", "btn-lg"]'>Save &amp; Continue Later</app-blue-button>
                <app-blue-button [btnType]='["normalBtn", "btn-lg"]'>Next</app-blue-button>
            </div>
        </form>
    </div>
</div>