$border: 1px solid rgba(196, 196, 196, 0.92);
$labelColor: #666060;
@font-face {
    font-family: RobotoLight;
    src: url('/src/assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: RobotoMedium;
    src: url('/src/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@mixin small-screen {
    @media screen and (max-width: 768px) {
        @content;
    }
}

.container {
    padding: 0;
}

.main {
    margin-top: 45px;
    .info {
        .info-header-container {
            .header {
                font-size: 24px;
                font-family: RobotoMedium, sans-serif;
                margin-bottom: 21px;
            }
            .sub-header {
                color: #505050;
                font-size: 16px;
                font-family: RobotoMedium, sans-serif;
                line-height: 1.5em;
                width: 86%;
                a {
                    color: #1F5FBE;
                    cursor: pointer;
                }
            }
        }
    }
    form {
        margin-top: 40px;
        >div {
            margin-bottom: 20px;
        }
        input {
            justify-self: center;
            display: none;
        }
        input:checked~label {
            border: 2px solid #3F4395;
        }
        input:checked~label .custom-radio-icon {
            background-color: #3F4395;
            border: none;
        }
        input:checked~label .custom-radio-icon>i {
            display: flex;
            color: #fff;
            justify-content: center;
            align-items: center;
        }
        label {
            align-items: center;
            color: #9C9C9C;
            border-radius: 10px;
            padding: 10px 0;
            padding-bottom: 0;
            cursor: pointer;
            @include small-screen {
                flex-flow: row;
                .list {
                    .item {
                        margin-left: 0;
                    }
                }
            }
            .custom-radio-icon {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 1px solid #9C9C9C;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                i {
                    display: none;
                    margin: 0;
                }
            }
            .detail-container {
                justify-content: space-between;
                width: 95%;
                align-items: center;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;
                @include small-screen {
                    display: flex;
                }
                span {
                    color: #9C9C9C;
                    text-transform: uppercase;
                    font-size: 10px;
                }
                h3 {
                    margin-top: 0;
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                >div {
                    padding: 10px 0;
                    padding-left: 10px;
                    @include small-screen {
                        padding-left: 0;
                    }
                }
                >div:last-child {
                    align-self: center;
                    padding: 20px 30px;
                }
                div.detail {
                    color: #666060;
                    font-size: 14px;
                }
            }
        }
        .button-container {
            display: flex;
            margin-top: 50px;
            > :first-child {
                margin-left: auto;
                margin-right: 15px;
            }
        }
    }
}

.panel {
    background: #F0F1F8;
    margin-top: 20px;
    .forms-container {
        display: flex;
        @include small-screen {
            display: flow-root;
        }
        >div:not(:first-child) {
            display: flex;
            margin-left: 20px;
            @include small-screen {
                margin-left: 0;
                margin-top: 15px;
            }
        }
        .display {
            align-self: center;
            label {
                color: $labelColor;
                font-size: 14px;
            }
            select {
                border: $border;
                border-radius: 4px;
                height: 30px;
                background: none;
                margin-left: 10px;
                width: 90px;
                padding: 0 10px;
                color: $labelColor;
            }
        }
        .row {
            display: flex;
            align-self: center;
            label {
                color: $labelColor;
                font-size: 14px;
            }
            div {
                margin-left: 10px;
                font-size: 14px;
            }
        }
    }
    .button-container {
        display: flex;
        align-content: flex-end;
        >:first-child {
            margin-right: 15px;
        }
    }
}