<div class="container ui">
    <div class="main">
        <div class="info">
            <div class="info-header-container">
                <h3 class="header theme-color">
                    Select a Certificate Holder’s profile from the list of profiles you created.
                </h3>
                <div class="sub-header">
                    A certificate holders’ profile allows you to enter and save the details of a Certificate Holder so that you dont have to enter each time you want to make an application. If you have not created a Certificate Profile for this application, click the ‘New
                    Profile’ button.
                </div>
            </div>
        </div>

        <div class="ui bottom vertical basic segment tab active no-padding" style="border-radius: 4px;">
            <div class="basic fill ui attached sd">
                <div class="panel ui grid two stackable column container">
                    <div class="column" style="width: 50%;">
                        <span style="margin-right: 30px;">
              <div class="ui icon input" style="margin: 5px; width: 66%;">
                <input
                  type="text"
                  placeholder="Search"
                  style="border: none;"
                />
                <i class="search icon"></i>
              </div>
            </span>
                    </div>
                    <div class="column action-icons" style="
              width: 50%;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            ">
                        <app-blue-button [btnType]="['ui', 'primary', 'theme-bg', 'button']">New Certificate Holders’ Profile</app-blue-button>
                    </div>
                </div>
            </div>
        </div>

        <form ngForm>
            <div>
                <input required value="1" type="radio" name="select-certificate-holder" id="select-certificate-holder1" ngModel #input="ngModel" />
                <label for="select-certificate-holder1" class="ui segment grid">
          <div>
            <div class="custom-radio-icon">
              <i class="check icon"></i>
            </div>
          </div>
          <div class="detail-container grid stackable ui large list horizontal" >
              <div class="item" style="justify-self: stretch">
                <div class='content'>
                  <span>Certificate Holder</span>
                  <div class='theme-color'>Cisco Systems, Inc.</div>
                </div>
              </div>
              <div class="item">
                <div class='content'>
                  <span>Address</span>
                  <div class="detail">
                    300 East Tasman Dr. San Jose, CA 95134, USA Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi nemo harum dolorem deleniti at iure fuga, dolorum suscipit tempore.
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <span>Telephone</span>
                  <div class="detail">(408) 526-4000</div>
                </div>
              </div>
              <div class="item">
                <app-blue-button [btnType]='["ui", "button"]'>Select</app-blue-button>
              </div>
          </div>
        </label>
            </div>
            <div>
                <input required value="2" type="radio" name="select-certificate-holder" id="select-certificate-holder2" ngModel #input="ngModel" />
                <label for="select-certificate-holder2" class="ui segment grid">
          <div>
            <div class="custom-radio-icon">
              <i class="check icon"></i>
            </div>
          </div>
          <div class="detail-container grid stackable ui large list horizontal" >
              <div class="item" style="justify-self: stretch">
                <div class='content'>
                  <span>Certificate Holder</span>
                  <div class='theme-color'>Cisco Systems, Inc.</div>
                </div>
              </div>
              <div class="item">
                <div class='content'>
                  <span>Address</span>
                  <div class="detail">
                    300 East Tasman Dr. San Jose, CA 95134, USA
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <span>Telephone</span>
                  <div class="detail">(408) 526-4000</div>
                </div>
              </div>
              <div class="item">
                <app-blue-button [btnType]='["ui", "button"]'>Select</app-blue-button>
              </div>
          </div>
        </label>
            </div>

            <!-- Pagination section -->
            <div class="ui two column grid stackable">
                <div class="column middle aligned">
                    <!-- <div class="ui medium labeled button">
                        <div class="ui icon button">
                            <i class="database icon"></i>
                        </div>
                        <a class="ui basic label">3 Record(s)</a>
                    </div> -->
                </div>
                <div class="column right aligned pagination menu">
                    <sui-pagination [collectionSize]="10" [pageSize]="5" [maxSize]="5" [hasEllipses]="true">
                    </sui-pagination>
                </div>
            </div>
            <!-- Pagination section ends-->
        </form>
    </div>
</div>