@font-face {
    font-family: RobotoLight;
    src: url('src/assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: RobotoMedium;
    src: url('src/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@mixin small-screen {
    @media screen and (max-width: 768px) {
        @content;
    }
}

.container {
    padding: 0;
    padding-bottom: 40px;
}

.main {
    margin-top: 45px;
    .info {
        .info-header-container {
            .header {
                font-size: 32px;
                color: #000;
                font-family: RobotoLight, sans-serif;
                margin-bottom: 21px;
            }
            .sub-header {
                color: #9C9C9C;
                font-size: 20px;
                font-family: RobotoLight, sans-serif;
                line-height: 1.5em;
                width: 86%;
                a {
                    color: #1F5FBE;
                    cursor: pointer;
                }
            }
        }
    }
    form {
        margin-top: 40px;
        >div {
            margin-bottom: 20px;
        }
        input {
            justify-self: center;
            display: none;
        }
        input:checked~label {
            border: 3px solid #18A0FB;
        }
        input:checked~label .custom-radio-icon>.custom-radio-icon-inner {
            background-color: #18A0FB;
        }
        label {
            align-items: center;
            color: #9C9C9C;
            border-radius: 10px;
            padding: 10px 0;
            cursor: pointer;
            .custom-radio-icon {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 1px solid #9C9C9C;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                .custom-radio-icon-inner {
                    height: 60%;
                    width: 60%;
                    border-radius: 50%;
                }
            }
            .detail-container {
                display: flex;
                justify-content: space-between;
                width: 79%;
                span {
                    color: #9C9C9C;
                    text-transform: uppercase;
                    font-size: 10px;
                }
                h3 {
                    margin-top: 0;
                    font-size: 20px;
                    margin-bottom: 10px;
                    color: #000000;
                }
                >div {
                    padding: 10px 0;
                    padding-left: 10px;
                }
                >div:last-child {
                    border-left: 1px solid #9C9C9C;
                    align-self: center;
                    padding: 20px 30px;
                    @include small-screen {
                        border-top: 1px solid #9C9C9C;
                        border-left: none;
                        margin-left: 16px;
                        padding-left: 0;
                    }
                }
                div.detail {
                    color: #666060;
                    font-size: 14px;
                }
            }
        }
        .button-container {
            display: flex;
            margin-top: 50px;
            > :first-child {
                margin-left: auto;
                margin-right: 15px;
            }
        }
    }
}
