<div class="container main">

    <app-navigation>
        <ul>
            <li routerLink='/home/type-approval-application/select-certificate-holder' routerLinkActive='active'>Select Certificate Holder</li>
            <li routerLink='/home/type-approval-application/add-equipment' routerLinkActive='active'>Add Equipment</li>
            <li>Upload Equipment Document</li>
            <li>Add Specification Standards</li>
            <li>Review and Submit</li>
        </ul>
    </app-navigation>

    <router-outlet></router-outlet>
</div>
