<div class="container">

    <div class="main">
        <div class="container grid info-header-container stackable ui">
            <div class="header">Your Type Approval Application has been submitted successfully!</div>
        </div>

        <div class="info container ui stackable four column grid">

            <div class="info-body column ten wide">
                <p>
                    An application identification number has been generated for this application. Please use the this number in your correspondence with NCC. You will find the number on the <a>home page</a> where all your applications are listed.
                </p>
                <p>You attention may be required while processing this application. In such a case, you will be notified by email with instructions on what to do. </p>
                <p>An Application Brief document has been generated for this application. You are required to print the document and attach to the package of the device to be sent to NCC for approval . <a>Click here to download the brief</a>. You can download
                    this brief at any time. You will find it in the documents section of this application on the <a>home page</a>.</p>
            </div>

            <div class="image-container column">
                <img src="assets/images/Comms-Icon-Group.png" class='ui image' alt="" srcset="">
            </div>
        </div>
    </div>

    <div class='container ui'>
        <div class='button-container'>
            <app-blue-button [btnType]='["ui", "primary", "basic", "button"]' routerLink="/contractor/home/applications">
                Return to home page
            </app-blue-button>
        </div>
    </div>
</div>
