<div class="main">
    <div class="ui stackable container grid" style='padding-bottom: 20px'>
        <div class="info nine wide column">
            <div class="certificate-holder">
                <label>Certificate Holder</label>
                <span class="certficate-holder-name">Cicso Systems, Inc.</span>
            </div>
            <div class="ui large list horizontal divided">
                <div class="item">
                    <div class="content">
                        <div class="list-heading">Application Id</div>
                        <span class="application-id">0000-0000-1023</span>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="list-heading">No. Of Equipment</div>
                        <span class="">4</span>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="list-heading">Application stage</div>
                        <span class="ui grey label">Submission</span>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="list-heading">Application Id</div>
                        <span class="ui yellow label">Ongoing</span>
                    </div>
                </div>
            </div>
            <div class="date-created">
                <img src="assets/icons/time-icon.svg" alt="" srcset="" /> Created on April 7th 2020 by Wonder Marley
            </div>
        </div>
        <div class="buttons seven wide column float-right">
            <div class="notification">
                <img src="assets/icons/notification-icon.svg" alt="" />
                <div class="notification-count">0</div>
            </div>

            <div class="ui grid stackable" style='justify-content: flex-end;'>
                <app-blue-button [btnType]="['ui', 'primary', 'basic', 'button']" style="padding-right: 0;">
                    View Documentation
                </app-blue-button>

                <div class="ui dropdown eServiceDropdown primary basic button actionBtn" suiDropdown>
                    <div class="text">Action</div>
                    <i class="dropdown icon"></i>
                    <div class="menu left transition hidden" suiDropdownMenu>
                        <div class="item">Applications</div>
                        <div class="item">International Students</div>
                        <div class="item">Scholarships</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
