<sui-accordion style="margin-bottom: 30px;">
    <sui-accordion-panel>
        <div title class="main">
            <div class="ui stackable container grid info">
                <div class="certificate-holder ui list horizontal large">
                    <div class="list-heading">Certificate Holder</div>
                    <span class="certficate-holder-name">Cicso Systems, Inc.</span>
                </div>
                <div class="ui large list horizontal divided">
                    <div class="item">
                        <div class="content">
                            <div class="list-heading">Application Id</div>
                            <span class="application-id">0000-0000-1023</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="list-heading">No. Of Equipment</div>
                            <span class="">4</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="list-heading">Created On</div>
                            <span class="">20 Jul, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <div>
                        <label class="ui label notstarted">not started</label>
                    </div>
                    <div class="notification">
                        <i class="bell icon"></i>
                        <div class="notification-count">10</div>
                    </div>
                    <div>
                        <div class="ui dropdown-icon">
                            <i class="chevron down icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div content>
            <table class="ui single line table">
                <thead>
                    <tr>
                        <th>Equipment Id</th>
                        <th>Equipment Name</th>
                        <th>Model Number</th>
                        <th>Status</th>
                        <th></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#2841782751</td>
                        <td>Cisco UC Solution CUCM</td>
                        <td>BE6IOR - 64</td>
                        <td><label class="ui label notstarted">not started</label></td>
                        <td>
                            <div class="notification">
                                <i class="bell icon"></i>
                                <div class="notification-count"></div>
                            </div>
                        </td>
                        <td>
                            <div class='actionsContainer'>
                                <div class='icon-container'><i class="eye icon"></i></div>
                                <div class='icon-container'><i class="file alternate outline icon"></i></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#2841782751</td>
                        <td>Cisco UC Solution CUCM</td>
                        <td>BE6IOR - 64</td>
                        <td><label class="ui label notstarted">not started</label></td>
                        <td>
                            <div class="notification">
                                <i class="bell icon"></i>
                                <div class="notification-count"></div>
                            </div>
                        </td>
                        <td>
                            <div class='actionsContainer'>
                                <div class='icon-container'><i class="eye icon"></i></div>
                                <div class='icon-container'><i class="file alternate outline icon"></i></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#2841782751</td>
                        <td>Cisco UC Solution CUCM</td>
                        <td>BE6IOR - 64</td>
                        <td><label class="ui label notstarted">not started</label></td>
                        <td>
                            <div class="notification">
                                <i class="bell icon"></i>
                                <div class="notification-count"></div>
                            </div>
                        </td>
                        <td>
                            <div class='actionsContainer'>
                                <div class='icon-container'><i class="eye icon"></i></div>
                                <div class='icon-container'><i class="file alternate outline icon"></i></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </sui-accordion-panel>
</sui-accordion>
