$active-link: #1F5FBE;
app-navigation ul {
    display: flex;
    list-style: none;
    width: 100%;
    border-bottom: 2px solid rgba(196, 196, 196, 0.92);
    margin: 0;
    padding: 0;
    li {
        padding: 10px 30px;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        color: #666060;
        font-size: 18px;
        position: relative;
        top: 2px;
    }
    li.active {
        border-bottom-color: $active-link;
        color: $active-link;
        font-weight: bold;
    }
}