<div class="container">

    <div class="main">
        <div class="container grid info-header-container stackable ui">
            <div class="header theme-color">Get started with your <br> Type Approval Application</div>
            <div style='margin-left: auto;'>
                <app-blue-button [btnType]='["ui", "theme-bg", "button", "primary"]' routerLink='/contractor/home/type-approval-application/select-certificate-holder'>Get Started</app-blue-button>
                <span class="theme-color" style='margin-left: 20px; cursor: pointer;'>Not right now</span>
            </div>
        </div>

        <div class="ui divider container"></div>

        <div class="info container ui stackable four column grid">

            <div class="column ten wide" style='font-size: 18px;'>Follow the steps below to complete your type approval application. You can apply to type approve multiple equipment for a Certificate Holder at the same time.</div>

            <div class="info-body column ten wide">
                <ul class=''>
                    <li> Select a Certificate Holder’s profile from the list of profiles you have created.</li>
                    <li> Add the equipment you want to type approve. You can add more than one equipment and categorize them accordingly.</li>
                    <li> Upload required equipment documents and mactch them to the corresponding equipment. Click here to see the list of required documents.</li>
                    <li> Add equipment specification profiles and assign each equipment to one or more specification profile.</li>
                    <li> Review and submit your application.</li>
                </ul>
            </div>

            <div class="image-container column">
                <img src="assets/images/Comms-Icon-Group.png" class='ui image' alt="" srcset="">
            </div>
        </div>
    </div>
</div>